.layout {
    background-image: url("../images/background.jpg");
    margin: 0;
}

.header, .main {
    width: 952px;
    margin: auto;
    margin-top: 75px;
    box-sizing: border-box;
}

.logo {
    display: inline;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
