.layout{
	padding-left:61px;
	padding-right:61px;
	padding-top:61px;
	width:1200px;
	background-image: url("../images/Livello5.jpg");
	margin: auto;
	box-sizing:border-box;
}

.header{
	margin:0;
	padding:0;
}

.header__logo {
  text-align: left;
  display: inline; 
}
.header__menu{
	text-align: right;
	display: inline; 
	list-style:none;
	float: right;
	text-decoration: none; 
	margin-top:5px;
}
.header__menu-element {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  margin-left:90px;
  display: inline;
}
.header__menu-element__link {
	text-decoration: none;
	cursor: pointer;
}
.header__menu-element__link:hover {
	background-color: rgb(180, 173, 158);
}


.main{
	margin-top: 60px;
	margin-bottom: 70px;
}
.image{
	margin-bottom:50px;
}
.image-right{
	float:right;
	margin-bottom:30px;
}
.left-column{
	display: inline-block;
	width: 660px;
	vertical-align: top;
	margin-right:110px;
	margin-top:50px;
}
.text {
	font-size: 14px;
	font-family: "Playfair Display";
	color: rgb(98, 98, 98);
	margin-bottom:50px;
	display: block;
	line-height:2;
}
.text-upper{
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(180, 173, 158);
	text-transform: uppercase;
	margin-bottom:30px;
	margin-top:0;
	display: block;
}
.text-upper__aside{
	font-size: 12px;
	cursor: pointer;
	margin-bottom:25px;
}
.text-upper__aside:hover{
	text-decoration:underline;
}
.text__header {
	  font-size: 30px;
	  font-family: "Playfair Display";
	  color: rgb(98, 98, 98);
	  margin-bottom:0px;
	  margin-top:0px;
}
.text__header__aside{
	 font-size: 24px;
	 cursor: pointer;
	 line-height:1.5;
}
.text__header__top{
	 font-size: 16px;
	 cursor: pointer;
	 margin-bottom:15px;
}
.text__header__aside:hover{
	text-decoration:underline;
}
.text__quote{
	font-style:italic;
	margin: 0px 35px 30px 20px;

}
.text__overflow{
	overflow:hidden;
	font-size: 12px;
	height:76px;
	text-overflow:clip;
	margin-bottom:30px;
}
.socal-share{
	margin-top:75px;
	text-align:right;
}

.socal-share__text{
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Ubuntu";
	color: rgb(180, 173, 158);
	display: inline-block;
	margin:5px;
}  
.socal-share__icon{
	 margin:5px;
	 width:18px;
	 height:18px;
}
.socal-share__icon__right{
	margin-bottom:75px;
}
.right-column{
	display: inline-block;
	width: 280px;
	margin-top:50px;
}
.list-marker{
	list-style-image: url("../images/ellisse.png");
	padding-left:19px;
}
.list{
	padding-left:12px;
	margin-left:0px;
	margin-bottom:50px;
}

.footer{
	background-color: rgb(217, 217, 217);
	height: 97px;
	padding:40px;
	box-sizing:border-box;
}
.footer__menu-element {
	list-style:none;
	float: left;
	text-decoration: none; 
	margin-right:17px;
}
.footer__menu-element__text{
	font-size: 14px;
	font-family: "Playfair Display";
	color: rgb(0, 0, 0);

}
.footer__menu-element__link{
	text-decoration: none; 
    display: inline;
}
.footer__menu-left{
	display: inline-block;
	margin:0;
}
.footer__menu-right{
	text-align:right;
	float: right;
	display: inline-block;
	margin:0;
}
.footer__menu-element__icon{
	margin-left:15px;
}