<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>7bits-frontend-2016
    </title>
        <link href=../styles/style.css rel=stylesheet>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body class="layout">
        <header class="header">
            <a href="index.html" class="logo">
                <img src="../images/logo.png" alt="logo">
            </a>
            <nav class="right">
                <ul class="menu">
                    <li class="menu__element">
                        <a href="index.html" class="menu__element-link  menu__element-link__gray">home</a>
                    </li>
                    <li class="menu__element">
                        <a href="#about" class="menu__element-link menu__element-link__gray">about</a>
                    </li>
                    <li class="menu__element">
                        <a href="#archive" class="menu__element-link menu__element-link__gray">archive</a>
                    </li>
                    <li class="menu__element"> 
                        <a href="contacts.html" class="menu__element-link menu__element-link__gray  menu__element__active">contact</a>
                    </li>
                    <li class="menu__element">
                        <a href="#" class=icon-search></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section class=section>
                <h1 class="article__text  article__text__h">Contact Us</h1>
                <p class="article__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
                <img src="../images/line.png" alt="line" class="line">
                <form id="contact" class="form" action="<anything-action>">
                    <input name="firstname" placeholder="Your Name" tabindex="1" class="form__input-field">
                    <input name="email" placeholder="Email" tabindex="2" class="form__input-field form__input-field__right">
                    <input name="subject" placeholder="Subject" tabindex="3" class="form__input-field form__input-field__full-width">
                    <textarea id="message" placeholder="Your Message" tabindex="5" class="form__input-field form__input-field__full-width form__input-field__multiline"></textarea>
                    <input type="submit" value="send message" form="form1" class="article__text__buttom form__send">
                </form>
            </section>
        </main>
        <footer class="footer ">
            <div class="footer-content ">
                <a href="index.html " class="footer__logo ">
                    <img src="../images/logo-footer.png " alt="logo ">
                </a>
                <nav class="">
                    <ul class="menu ">
                        <li class="menu__element ">
                            <a href="#" class="menu__element-link menu__element-link__white menu__element__active ">home</a>
                        </li>
                        <li class="menu__element ">
                            <a href="#" class="menu__element-link menu__element-link__white ">about</a>
                        </li>
                        <li class="menu__element ">
                            <a href="#" class="menu__element-link menu__element-link__white ">archive</a>
                        </li>
                        <li class="menu__element ">
                            <a href="#contacts.html " class="menu__element-link menu__element-link__white ">contact</a>
                        </li>
                        <li class="menu__element ">
                            <a href="#" class="menu-element__link menu__element-link__white ">
                                <img src="../images/search-footer.png " class="icon-search" alt="icon-search ">
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="footer__text ">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
                <p class="footer__text footer__text__larger ">
                    © 2015 - Palo Alto. All Rights Reserved. Designed &Developed by <span class="footer__text__select ">PixelBuddha Team</span>
                </p>
                <ul>
                    <li class="icon ">
                        <a href="#facebook ">
                            <img src="../images/facebook.png " alt="facebook-icon ">
                        </a>
                    </li>
                    <li class="icon ">
                        <a href="#twitter ">
                            <img src="../images/twitter.png " alt="twitter-icon ">
                        </a>
                    </li>
                    <li class="icon ">
                        <a href="#instagram ">
                            <img src="../images/instagram.png " alt="instagram-icon ">
                        </a>
                    </li>
                    <li class="icon ">
                        <a href="#pinterest ">
                            <img src="../images/pinterest.png " alt="instagram-icon ">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
